.boxes{
    float: left;
    width:200px;
    height: 200px;
    background-color:black;;
    line-height: 150px;
}
button{
    display: block;
    border:black 2px solid; 
    border-radius: -20px;
    background-color: coral;
}